<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add New Task</title>
  </head>
  <body>
    <h1>To Do List</h1>
    <form action="/task_added" method="post">
      <label for="new-task">Add a new task</label>
      <input id="new-task" name="new-task" type="text">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
