<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add New Task</title>
  </head>
  <body>
    <h1>To Do List</h1>
    <h3><a href='/categories/new'>Add a new category</a></h3>
    <h3><a href='/categories'>View categories</a></h3>
  </body>
</html>
