<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>tasks</title>
  </head>
  <body>
    <h1>To Do List</h1>
    <ul>
      @foreach (var task in Model)
      {
        <li><a href='/tasks/@task.GetId()'>@task.GetDescription()</a></li>
      }
    </ul>
    <a href='/tasks/new'>Add new task</a>
  </body>
</html>
