<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>To Do List</h1>
    <h1>@Model["task"].GetDescription()</h1>
    <form action="/deleteTask/@Model["category"].GetId()/task/@Model["task"].GetId()" method="post">
      <button type="submit" name="deleteTask">deleteTask-jill</button>
    </form>
    <form class="" action="/categories/@Model["category"].GetId()/task/@Model["task"].GetId()" method="post">
      <input id ="edit" type="text" name="edit" value="">
      <button type="submit" name="edit">Confirm Edit</button>
    </form>
    <a href="/delete/@Model["category"].GetId()/task/@Model["task"].GetId()">Delete Task - Neil</a>
    <a href='/tasks/new'>Add another task</a>
    <a href='/tasks'>View all tasks</a>
  </body>
</html>
